
@using StypendiumClient.Controllers
@model IEnumerable<StypendiumClient.Models.Person>


@{
    ViewBag.Title = "Przedmioty";
    Layout = "_Layout";
//    var response = new KierunekController().getPrzedmiot(1);
    //var response2 = new KierunekController().getNowyPrzedmiot();
//    var wynik = new HomeController().metodaHelp();
}

<h2>Przedmiot</h2>
<p></p>


@*@using (Html.BeginForm("Index", "Kierunek", FormMethod.Get))
{*@
@* <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>Ocena:</td><td>@Html.DisplayFor(m => m.)</td>
        </tr>
        <tr>
            <td>Ocena:</td><td>@Html.TextBoxFor(m => m.Ocena)</td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"/></td>
        </tr>
    </table>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                
        </tr>*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
    }

</table>
